/*
Author: MeLyssa Stewart
checkout.hyrule

Generic Styles for my webiste
*/

html {
    font-family: monospace;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* the above helps adjust based on diff browser*/
}

body {
    font-size: 14px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.42857143;
    color: #333;
    background-color: rgb(55, 166, 196);
    /* This makes it have no margin, affects space between
    lines and sets the color, and background of the entire page. */
}

footer,
nav {
    display: block;
/* This means each line is a block */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, monospace;
/* This affects the different fonts and specifically 
sets them all to a certain font*/
}

h1 {
    line-height: 50px;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #0d0138;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    /* this affects the header one specifically, the size
    color and shadow on it.*/
}

h1::after { /*this is the underline on the h1 titles*/
    display: block;
    content: " ";
    height: 2px;
    width: 150px;
    background: rgb(55, 166, 196);
    margin: 5px auto 40px;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.5);

    /* this adds an underline that has the same properties
    and matches the title.*/

}

h2 {
    line-height: 50px;
    color: #000002;
}

h3 {
    line-height: 50px;
    padding-bottom: 20px;
}

h4 {
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: 900;
}

p {
    font-weight: 300;
    line-height: 20px;
    padding-bottom: 5px;
}

.text-center {
    text-align: center;
}

.heading-padding {
    padding-bottom: 40px;
    background-color: rgba(55, 166, 196, .3);
    border-radius: 7px;
}

.section {
    padding-top: 50px;
    margin-top: 50px;
}

.navbar {
    height: 105px;
    max-height: 340px;
    display: inline-block;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: 40px;
    margin-left: 40px;
}


clearfix::after,
.container::after,
.navbar::after {
    clear: both;
    display: table;
    content: " ";
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute; /* exact position we want*/
    /* this ensures that the images stay in the 
    container.*/
    overflow: hidden; /* hides edges that go too far*/
    top: 0;
    left: 0;
    text-align: center;
}

.menu-container {
    max-height: 340 px;
    margin: 0% auto;
    content: " ";
    width: 100%;
    position: fixed;
    z-index: 100; /* makes this the top most thing
    ever. This holds it at the top forever*/
}
/* this is the home header section, that makes the page
roll over it*/
#home {
    background: url(../Images/thumb_4.jpg) no-repeat 50% 50%;
    background-attachment: fixed; /* doesnt move*/
    /* these do the older browser*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px; /* spacer before main title*/
    padding-bottom: 500px;/* spacer after main logo*/
    color: rgb(0, 0, 0);
}

.head-main {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
    font-variant: small-caps;
    color: black;
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5em;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
    font-weight: 900;
    border: 5px double black;
    padding: 10px;
}

.head-sub-main {
    font-size: 23px;
    font-weight: 500;
    padding: 50px 20px 10px 20px;
    text-transform: uppercase;
}

.head-last {
    font-size: 18px;
    font-weight: 900;
    padding: 5px 20px 20px 20px;
    border: 1px dotted black;
    padding 5px;
}

.flex-container{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: auto;
    background-color: rgba(55, 166, 196, .3);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

#shop{
    background-color: rgb(136, 185, 198);
}

.shopping{
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    margin: opx auto;
    background-color: rgba(0, 251, 255, 0.3); /* this is the form box portiion*/
    box-shadow: -1px -1px -1px o rgba(0, 0, 0, 1), 1px 2px 10px 0 rgba(0, 0, 0, 0.5);
    padding-left:  250px;
    padding-right: 219px;
    position: relative;

}

.shopping h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: black;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 0pt;
    word-spacing: 0pt;
    
}

span {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: black;
    font-weight: 900;
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: .4pt;
    word-spacing: .3pt;

}

.shopping p {
    color: black;
    width: 50%;
    margin: 0 auto;

}

.form-order {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #73899f;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #6d7477;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(50, 160, 185);
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.3);
    font-family: 'Courier New', Courier, monospace;
}

.shopping input {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8D8E8f;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090B0D;
    border-right:2px solid #424549 ;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #090B0D;
    margin: 10px 1em;
    border-radius: 7px;
    background: #a7b7d3;
    box-shadow: inset 0px 3px 0px rgba(5, 5, 5, 0.15);
    font-family: 'Courier New', Courier, monospace;
}

.shopping input[type="text"]:hover {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.8)
}

.form-spacer {
    padding: 30px 39px;
}

.terms {
    margin:  30px 1px 0 0;
    margin-top: 13%;
    padding-left: 52px;
    font-size: 14px;
    line-height: 5px;
    color: #000;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    position: relative;
    display: inline;
    float: right;
}

.terms:hover{
    color: darkblue;
    text-decoration: underline;
}

.submit input[type="submit"]{
    color: rgb(230, 249, 255);
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color: #012d58;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.submit input[type="submit"]:hover {
    color: #000;
    background-color: #0d0138;
    box-shadow: inset 1px 2px 15px 0 rgba(0, 0, 0, 0.5);
}

/* footer styes*/

#footer {
    background-color: rgba(2, 0, 100, 0.3);
    color: #000;
    text-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 1);
    padding: 20px 50px 20px 50px;
    text-align: right;
}



/* media queries*/

@media all and (max-width: 640px) and (min-width: 381px) {
    .head-main {
        font-size: 28px;
    }
}

@media all and (max-width: 381px) and (min-width: 200px) {
    .head-main {
        font-size: 24px;
    }
}

@media  (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

